.games__wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
}
.see_all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 57px;
}
.turlari{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.games__wrapper h2{
    font-family: var(--font-family);
font-weight: 600;
font-size: 35px;
line-height: 187%;
text-align: center;
color: #fff;
margin-top: 130px;
}
.see_all button{
    font-family: var(--second-family);
font-weight: 500;
font-size: 20px;
line-height: 187%;
color: #fff;
border-radius: 10px;
width: 139px;
height: 57px;
background: rgba(255, 255, 255, 0.11);
border: none;
}
.see_all h3{
    font-family: var(--second-family);
font-weight: 700;
font-size: 31px;
line-height: 187%;
color: #fff;
}
.other{
    width: 100%;
}
.turlari h4{
    font-family: var(--second-family);
font-weight: 500;
font-size: 22px;
line-height: 187%;
color: #fff;
text-align: center;
}
.turlari img{
    right: 9px;
}
.survival{
    width: 100%;
}
@media(max-width: 1050px){
    .turlari{
        grid-template-columns: repeat(3, 2fr);
    }
}
@media(max-width: 890px){
    .games__wrapper h2{
        font-size: 26px;
    }
}
@media(max-width: 590px){
    .turlari{
        grid-template-columns: repeat(2, 2fr);
    }
    .see_all h3{
        font-size: 26px;
    }
    .games__wrapper h2{
        font-size: 20px;
    }
}