.newshero h4{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 209%;
color: #fff;
text-align: center;
}
.newshero{
    margin-top: 110px;
}

.newshero span{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 209%;
color: #e47500;
}
.newshero h2{
    font-family: var(--font-family);
font-weight: 600;
font-size: 33px;
line-height: 180%;
text-align: center;
color: #fff;
}
.newshero p{
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 187%;
text-align: center;
color: #fff;
margin-bottom: 45px;
margin-bottom: 74px;
}
.newshero img{
    display: block;
    margin: 0 auto;
}
@media(max-width: 450px){
    .newshero img{
    width: 100%;
    }
}